---
import MainLayout from "../layouts/MainLayout.astro";
import Buttum from "../components/Buttum.astro";
---

<MainLayout metatitle="GALLERY">
  <div class="gallery_heading1"><h1>GALLERY</h1></div>
  <div class="line"></div>

  <div class="gallery_box">
  <div class="gallery_img"><img src="/bilder/galleri_billeder/gal5.webp" alt="gallery_img"></div>
  <div class="gallery_text1"><p>Step into Panache, where art takes center stage in an ever-evolving gallery nestled within our vibrant Copenhagen bar. <br><br>
    This isn't just a place to sip cocktails — it’s a hub for creativity and expression and is uniquely tied to the pulse of the city. Our gallery showcases the talent of local artists and our exhibit change regularly. <br><br>

Celebrate the spirit of local creativity and let the art spark conversations, inspire your imagination, or simply provide a moment of quiet reflection amidst the buzz of the bar.

At Panache, art isn't just decoration—it’s a living, breathing part of the experience.</p>
<br><br><br><br>
<div class="artist_h2">
<h2>Are you an artist?</h2> <br><br>
</div>

Send us an email if you're interested in showcasing your art in our bar for our guests to see and buy! We'd love to have a chat and see your amazing art!
<br>
<br>

<a class="buttum" href="mailto:panachecph@gmail.com">
<Buttum text="SEND MAIL"/> 
</a>
</div>
  </div>

 <div class="gallery_heading1"><h1>SEEN THE LATEST?</h1></div>
   <div class="line"></div>

     <div class="gallery_text2"><p>Swing by Panache to experience our ever-changing gallery, where Copenhagen’s finest local artists showcase their work and ensuring there’s always something fresh to admire. <br><br>
      Let the art draw you in, then scroll through the slideshow below to get a glimpse of what’s currently on display. There’s always something new to discover! <br>
      Better yet, visit us in person to experience the art up close—it’s the perfect complement to the unique energy of our space!</p></div>

 <div class="slideshow">
        <div id="slider">
            <img src="/bilder/galleri_billeder/gal1.webp" alt="Image 1">
            <img src="/bilder/galleri_billeder/gal2.webp" alt="Image 2">
            <img src="/bilder/galleri_billeder/gal3.webp" alt="Image 3">
            <img src="/bilder/galleri_billeder/gal4.webp" alt="Image 4">
            <img src="/bilder/galleri_billeder/gal5.webp" alt="Image 5">
            <img src="/bilder/galleri_billeder/gal6.webp" alt="Image 6">
            <img src="/bilder/galleri_billeder/gal7.webp" alt="Image 7">
            <img src="/bilder/galleri_billeder/gal8.webp" alt="Image 8">
            <img src="/bilder/galleri_billeder/gal9.webp" alt="Image 9">
            <img src="/bilder/galleri_billeder/gal10.webp" alt="Image 10">
        </div>
    </div>


</div>
</MainLayout>

<style>

  /****MOBIL VERSION****/
  @media (max-width: 800px){
.gallery_heading1{
  text-align: center;

}
.gallery_heading2{
  text-align: center;
 padding-top: 10%;
}
.line {
   width: 70%; 
   height: 1px; 
   background-color: black; 
   margin: 20px auto; 
}
.gallery_box{
margin: 8%;
}

.gallery_text2{
 margin: 8%;
}

.knap_test{
  text-align: center;
  padding-top: 5%;
  font-weight: bolder;
  font-size: xx-large;
}

.line {
   width: 70%; 
   height: 1px; 
   background-color: black; 
   margin: 20px auto; 
}
.slideshow {
 width: 90%;
overflow: hidden;
margin: 0 auto;
position: relative;
padding-bottom: 5%;
}
.slideshow #slider {
  display: flex;
  width: 1000%; /* 10 billeder, 100% per billede */
  animation: slide 15s infinite;
}

.slideshow #slider img {
  width: 10%; /* Juster bredden for at passe til 10 billeder */
  flex-shrink: 0;
        }
@keyframes slide {
  0% { transform: translateX(0); }
  10% { transform: translateX(0); }
  20% { transform: translateX(-10%); }
  30% { transform: translateX(-10%); }
  40% { transform: translateX(-20%); }
  50% { transform: translateX(-20%); }
  60% { transform: translateX(-30%); }
  70% { transform: translateX(-30%); }
  80% { transform: translateX(-40%); }
  90% { transform: translateX(-40%); }
  100% { transform: translateX(-50%); }
        }
  }








/****DESKTOP VERSION****/
@media (min-width: 800px){
  .gallery_heading1{
  text-align: center;
}

.gallery_img{
  width: 90%;
}
.line {
   width: 70%; 
   height: 1px; 
   background-color: black; 
   margin: 20px auto; 
}
.gallery_heading2{
  text-align: center;
 padding-top: 10%;
}
.gallery_box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 5%;
  align-items: start;
}
.gallery_text1{
  padding-left: 6%;
}
.gallery_text2{
  margin: 5%;
}

.buttum{
 padding-top: 1%;
}
.slideshow {
 width: 40%;
overflow: hidden;
margin: 0 auto;
position: relative;
padding-bottom: 5%;
}
.slideshow #slider {
  display: flex;
  width: 1000%; /* 10 billeder, 100% per billede */
  animation: slide 20s infinite;
}

.slideshow #slider img {
  width: 10%; /* Juster bredden for at passe til 10 billeder */
  flex-shrink: 0;
        }
@keyframes slide {
  0% { transform: translateX(0); }
  10% { transform: translateX(0); }
  20% { transform: translateX(-10%); }
  30% { transform: translateX(-10%); }
  40% { transform: translateX(-20%); }
  50% { transform: translateX(-20%); }
  60% { transform: translateX(-30%); }
  70% { transform: translateX(-30%); }
  80% { transform: translateX(-40%); }
  90% { transform: translateX(-40%); }
  100% { transform: translateX(-50%); }
        }
}

.artist_h2{
  color: #ab0000;
}


</style>
<script>

</script>