---
import MainLayout from "../layouts/MainLayout.astro";
import Buttum from "../components/Buttum.astro";

---
<MainLayout metatitle="WINE">
    <div class="h1oglinje">
  <h1>WINE AND SNACK</h1>
    <div class="line"></div>
    </div>
    <section>
<div class="grid_1-1">
  <div class="image-container">
    <img src="/lokale_billeder/loka18.webp" alt="">
  </div>
  <div class="textogknapp">
    <p>
      Welcome to the world of wine at Panache — where the only rule is that there are no rules (well, except maybe not chugging a 2012 Bordeaux like it’s soda). <br> <br>Here, wine isn’t just a drink; it’s a mood, a story in a glass, and sometimes even a therapist in a bottle. Whether you’re a seasoned sommelier or someone who simply loves a good swirl-and-sniff,
       our menu is designed to delight your palate and spark your curiosity. <br>
<br> So grab a glass, explore our carefully curated selection, and let’s uncork some fun together. 
Cheers to new flavors, good company, and the unique vibe that only Panache can offer!</p>
    <div class="button-container">
      <a href="/shop" class="button">
        <Buttum text="OUR WINES"></Button>
      </a>
    </div>
  </div>
</div>

<div class="menu-container">
  <img class="menu" src="/public/bilder/menu.png" alt="">
</div>
</section>
</MainLayout>

<style>
    .h1oglinje {
        margin: 5%;
    }
h1 {
    text-align: center;
      }
.line {
    width: 80%;
    height: 1px;
    background-color: black;
    margin: 20px auto;
  }
@media (min-width: 800px) {
.menu-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 3rem; 
  
}

.menu {
  width: 50%;
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch; /* Sikrer at begge kolonnene er like høye */
  gap: 2rem;
}

.image-container img {
  width: 80%;
  height: auto; /* Holder bildet proporsjonalt */
}

.textogknapp {
  display: flex;
  flex-direction: column; /* Innholdet i kolonnen går nedover */
  justify-content: space-between; /* Skyver innholdet til toppen og bunnen */
}

.button-container {
  margin-top: auto; /* Skyver knappen til bunnen */
}
}
  /*mobil*/
@media (max-width: 800px) {
.image-container img {
  width: 100%;
  height: auto; /* Holder bildet proporsjonalt */
}
  section {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 2rem;
      margin: 1.5rem;
    }
    .button-container {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
    p {
        margin-top: 1.5rem;
    }
  }

</style>