---
import Buttum from "./Buttum.astro";
const { imageURL, Name, Year, Country, id, Price, info } = Astro.props;

if (!id) {
  throw new Error("Produkt-ID mangler. Sjekk at dataene er riktige.");
}
---

<article>
  {imageURL ? (
    <div class="img_vin">
    <img src={imageURL} alt={`Bilde av ${Name}`} />
    </div>
  ) : (
    <p>Image not available</p>
  )}
  
  <h3>{Name ?? "Ukjent navn"}</h3>
  
  <!-- <p>Year: {Year ?? "Ikke oppgitt"}</p>
  <p>Country: {Country ?? "Ukjent land"}</p>
  <p>Price: {Price ?? "Ukjent pris"}</p> -->
  <div class="knapp">
<a href={`/product/${id}`}>
        <Buttum text="READ MORE"></Button>
      </a>
</div>
</article>
<style>
     @media (min-width: 800px) {
img {
height: 650px;
object-fit: cover;
object-fit: bottom;
}
h3 {
    padding-top: 1rem;
    font-size: 1.3rem;
}
.knapp {
    padding-top: 2rem;
}
     }
      @media (max-width: 800px) {
img {
height: 300px;
object-fit: cover;
object-fit: bottom;
}
h3 {
    padding-top: 1rem;
    font-size: 1.3rem;
}
.knapp {
    padding-top: 2rem;
}
      }
</style>