---
import Buttum from "./Buttum.astro";
const { imageURL, Name, Year, Country, id, Price, info } = Astro.props;

if (!id) {
  throw new Error("Produkt-ID mangler. Sjekk at dataene er riktige.");
}
---

<article class="product-card">
  {imageURL ? (
    <div class="img_vin">
      <img src={imageURL} alt={`Bilde av ${Name}`} />
    </div>
  ) : (
    <p>Image not available</p>
  )}
 
  <div class="content">
    <h3>{Name ?? "Ukjent navn"}</h3>
    <p>Year: {Year ?? "Ikke oppgitt"}</p>
    <p>Country: {Country ?? "Ukjent land"}</p>
    <p>Price: {Price ?? "Ukjent pris"}</p>
    <div class="knapp">
      <a href={`/product/${id}`}>
        <Buttum text="READ MORE"></Buttum>
      </a>
    </div>
  </div>
</article>
<style>

.product-card {
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  height: 100%; 
  border: 1px solid 
  padding: 1rem;
  box-sizing: border-box;
}

/* Bildet */
.img_vin img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Tekst og knapp */
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  flex-grow: 1; 
}

.knapp {
  margin-top: auto; /* Skyver knappen til bunnen */
  margin-top: 1rem;
  cursor: pointer;
}


@media (max-width: 800px) {
  .product-card {
    height: auto; 
  }

  .img_vin img {
    height: 300px; 
    object-fit: cover;
  }
}

@media (min-width: 800px) {
  .img_vin img {
    height: 650px; 
    object-fit: cover;
  }
}
 

      
</style>